//  -----------------------------------------EMPIEZAN VARIABLES----------------------------------------------
$primary: green;
$bodyColor: #888;
$darkColor: #21252f;
$boxShadow: 0 8px 22px rgba(0,0,0,0.1);



// ------------------------------------------TERMINAN VARIABLES----------------------------------------------





//-------------------------------------------EMPIEZAN OPERACIONES--------------------------------------------


//------------------------------------------TERMINAN OPERACIONES--------------------------------------------
