footer{
  background-color: $darkColor;
}

.logoFooter{
  width: 150px;
  height: 150px;

}

footer h5{
  color: white;
}

footer ul li{
list-style: none;
}

footer ul li a{
  color: grey;
}

footer ul li a:hover{
  color: white;
}
